*{
  --white: #ffffff;
  --off-white: #ffefdc;
  --off-white2: #E2CDB4;
  --blue1: #3CF7F7;
  --blue2: #02caca;
  --blue3: #03afaf;
  --blue4: #058f8f;
}
.noSelect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version*/
}
body{
  background-color: var(--blue1);
  align-items: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.winningLine {
  background-color: #2aff3c;
  font-size: 0px;
  border-radius: 5px;
  width: 305px;
  height: 5px;
  position: absolute;
  z-index: 9;
  padding: 5px 5px 5px 5px;
}
/*
  Changing position depending on where the winning line is
*/

#none{
  opacity: 0;
  transition: ease-in;
}
#horizontal_1{
  top: 16%;
  grid-column: 1/3;
  left: 29px;
}
#horizontal_2{
  top: 48.5%;
  grid-column: 1/3;
  left: 29px;
}
#horizontal_3{
  top: 82%;
  grid-column: 1/3;
  left: 29px;
}
#vertical_1{
  top: 19%;
  left: 56px;
  grid-column: 1;
  grid-row: 1/3;
  width: 5px;
  height: 270px;
}
#vertical_2{
  top: 19%;
  left: 56px;
  grid-column: 2;
  grid-row: 1/3;
  width: 5px;
  height: 270px;
}
#vertical_3{
  top: 19%;
  left: 56px;
  grid-column: 3;
  grid-row: 1/3;
  width: 5px;
  height: 270px;
}
#diagonal_1{
  top: 48%;
  grid-column: 1/3;
  width: 360px;
  transform: rotate(45deg);
}
#diagonal_2{
  top: 48%;
  grid-column: 1/3;
  width: 360px;
  transform: rotate(-45deg);
}


.winnerText {
  padding: 5px;
  text-align: center;
  font-size: 35px;
  height: 50px;
  background-color: var(--blue2);
}
div{
  justify-content: center;
}
.grid-container { 
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 125px 125px 125px;
  font-size: 75px; 
  background-image: linear-gradient(var(--blue2),var(--blue1));
}

.grid-item {
  background-color: var(--off-white);
  box-shadow: inset 8px 8px 5px var(--white),inset -8px -8px 5px var(--off-white2),8px 8px 5px var(--blue3);
  /*box-shadow: inset 8px 8px 5px var(--blue2);*/
  /*background-image: linear-gradient(var(--white),var(--blue1));*/
  width: 75px;
  height: 75px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin: 5px;
  text-align: center;
}

.grid-item:active{
  box-shadow: inset 8px 8px 5px var(--white),inset -8px -8px 5px var(--off-white2), 5px 5px 5px var(--blue4),0px 0px 5px 3px var(--blue4);
}