*{
  --white: #ffffff;
  --off-white: #ffefdc;
  --off-white2: #E2CDB4;
  --blue1: #3CF7F7;
  --blue2: #02caca;
  --blue3: #03afaf;
  --blue4: #058f8f;
}
.noSelect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version*/
}
body{
  background-color: var(--blue1);
  align-items: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.winningLine {
  background-color: #2aff3c;
  font-size: 0px;
  border-radius: 5px;
  width: 0px;
  height: 5px;
  position: absolute;
  z-index: 9;
  padding: 5px 5px 5px 5px;
  
}
/*
  Changing position depending on where the winning line is
*/
@keyframes horizontal-Win{
  100% {
    width: 305px;
  }
  0% {
    width: 0%;
  }
}

@keyframes diagonal-Win{
  100% {
    width: 360px;
  }
  0% {
    width: 0%;
  
  }
}

@keyframes diagonal-rotate1{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(45deg);
  }
}

@keyframes diagonal-rotate2{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-45deg);
  }
}

@keyframes vertical-Win{
  0%{
    height: 10px;
  }
  100%{
    height: 280px;
  }
}
#none{
  opacity: 0;
  transition: ease-in;
}
#horizontal_1{
  width: 305px;
  top: 16%;
  left: 29px;
  grid-column: 1/3;
  opacity: 100%;

  animation: horizontal-Win 2s cubic-bezier(0.65, 0, 0.31, 1.03);
}
#horizontal_2{
  width: 305px;
  top: 48.5%;
  left: 29px;
  grid-column: 1/3;
  opacity: 100%;

  animation: horizontal-Win 2s cubic-bezier(0.65, 0, 0.31, 1.03);
}
#horizontal_3{
  width: 305px;
  top: 82%;
  left: 29px;
  grid-column: 1/3;
  opacity: 100%;

  animation: horizontal-Win 2s cubic-bezier(0.65, 0, 0.31, 1.03);
}
#vertical_1{
  top: 19%;
  left: 56px;
  width: 5px;
  height: 280px;
  grid-column: 1;
  grid-row: 1/3;
  opacity: 100%;

  animation: vertical-Win 2s cubic-bezier(0.65, 0, 0.31, 1.03);
}
#vertical_2{
   top: 19%;
  left: 56px;
  width: 5px;
  height: 280px;
  grid-column: 2;
  grid-row: 1/3;
  opacity: 100%;
  
  animation: vertical-Win 2s cubic-bezier(0.65, 0, 0.31, 1.03);
}
#vertical_3{
  top: 19%;
  left: 56px;
  width: 5px;
  height: 280px;
  grid-column: 3;
  grid-row: 1/3;
  opacity: 100%;
  
  animation: vertical-Win 2s cubic-bezier(0.65, 0, 0.31, 1.03);
}
#diagonal_1{
  top: 48%;
  grid-column: 1/3;
  width: 360px;
  
  opacity: 100%;
  animation: diagonal-Win 2s cubic-bezier(0.65, 0, 0.31, 1.03),
   2s diagonal-rotate1 1s cubic-bezier(0.65, 0, 0.31, 1.03) forwards;
}
#diagonal_2{
  top: 48%;
  grid-column: 1/3;
  width: 360px;
  
  opacity: 100%;
  animation: diagonal-Win 2s cubic-bezier(0.65, 0, 0.31, 1.03),
   2s diagonal-rotate2 1s cubic-bezier(0.65, 0, 0.31, 1.03) forwards;
}


.winnerText {
  padding: 5px;
  text-align: center;
  font-size: 35px;
  height: 50px;
  background-color: var(--blue2);
}
div{
  justify-content: center;
}
.grid-container { 
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 125px 125px 125px;
  font-size: 75px; 
  background-image: linear-gradient(var(--blue2),var(--blue1));
}

.grid-item {
  background-color: var(--off-white);
  box-shadow: inset 8px 8px 5px var(--white),inset -8px -8px 5px var(--off-white2),8px 8px 5px var(--blue3);
  /*box-shadow: inset 8px 8px 5px var(--blue2);*/
  /*background-image: linear-gradient(var(--white),var(--blue1));*/
  width: 75px;
  height: 75px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin: 5px;
  text-align: center;
}

.grid-item:active{
  box-shadow: inset 8px 8px 5px var(--white),inset -8px -8px 5px var(--off-white2), 5px 5px 5px var(--blue4),0px 0px 5px 3px var(--blue4);
}