*{
  --white: #ffffff;
  --off-white: #ffefdc;
  --off-white2: #E2CDB4;
  --blue1: #3CF7F7;
  --blue2: #02caca;
  --blue3: #03afaf;
  --blue4: #058f8f;
}
.noSelect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version*/
}
body{
  background-color: var(--blue1);
  margin: 0px;
  width: 100%;
  height: 100%;
}

.winnerText {
  padding: 5px;
  text-align: center;
  font-size: 35px;
  height: 50px;
  background-color: var(--blue2);
}
div{
  justify-content: center;
}
.grid-container { 
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  font-size: 75px; 
  background-image: linear-gradient(var(--blue2),var(--blue1));
}

.grid-item {
  background-color: var(--off-white);
  box-shadow: inset 8px 8px 5px var(--white),inset -8px -8px 5px var(--off-white2),8px 8px 5px var(--blue3);
  /*box-shadow: inset 8px 8px 5px var(--blue2);*/
  /*background-image: linear-gradient(var(--white),var(--blue1));*/
  width: 75px;
  height: 75px;
  border-radius: 10px;
  padding: 17px 20px 20px 20px;
  margin: 5px;
  text-align: center;
}

.grid-item:active{
  box-shadow: inset 8px 8px 5px var(--white),inset -8px -8px 5px var(--off-white2), 5px 5px 5px var(--blue4),0px 0px 5px 3px var(--blue4);
}